{% extends "base.html" %}
{% block title %}BMI Calculator{% endblock %}
{% block content %}
<h1>This page is for BMI Calculation</h1>
<form action="#" method="POST">
    <label for="Number One">Height (feet):</label>
    <input
        type="text"
        placeholder="Feet"
        class="u-full-width"
        name="feet"
    /> <br>

    <label for="Number Two">Height (inches):</label>
    <input
        type="text"
        placeholder="Inches"
        class="u-full-width"
        name="inches"
    /> <br>

    <label for="Number Three">Weight (pounds):</label>
    <input
        type="text"
        placeholder="Weight"
        class="u-full-width"
        name="weight"
    /> <br>

    <input type="submit" value="Calculate" id="calc_btn" /> <br>

    {{ result }}

</form>
{% endblock %}